body {
  background-color: #fdfdfa;
}
.logo {
  width: 231px; /* størrelse på logoet */
}
.menu {
  display: flex;
  justify-content: space-between; /* Skubber indholdet til hver sin ende */
  align-items: center;
  height: 18px;
  padding-right: 44px;
  padding-left: 44px;
  padding-top: 52px;
  font-family: poppins, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
a {
  color: #88a998;
}

.nav-links {
  display: flex;
  gap: 44px;
  list-style: none;
}
