* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background1); /* baggrundsfarve på hele siden */
}

.topbar {
  background-color: var(--background1); /* baggrundsfarve på topbaren*/
  display: flex; /* indikere at der bruges flex-koder*/
  justify-content: space-between; /* indikere at de to ikoner skal deles op */
  align-items: center; /* indikere at ikonerne skal være på samme linje */
  padding: 8px; /* giver luft foroven og for neden i topbaren */
  padding-left: 20px; /* giver luft ude til venstre i topbaren, det alternativelogo er lidt større i det transparent*/
  padding-right: 21px; /* derfor er ikonet til venstre 1px større for skabe alignment*/
}
.valgt {
  background-color: var(--background2);
}
/* dropdown menu fra w3school.com: 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_right*/
/* The container <div> - needed to position the dropdown content */
.dropdown {
  float: right;
  position: relative;
  display: block;
}

/* Dropdown Content (Hidden by Default) */
#dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background1);
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  text-align: center;
  width: 90.5vw;
}

#dropdown-content.show {
  display: block;
}

/* Links inside the dropdown */
#dropdown-content a {
  color: var(--primary);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: poppins;
  padding: 20px;
  justify-self: center;
  width: 100%;
}

.dropdown a:hover {
  background-color: var(--background2);
}

/* w3school.com - slutter */

.fa-bars {
  /* burgermenuen */
  font-size: 30px; /* størrelsen på burgermenuen */
  color: var(--secondary);
}

.fa-bars:hover {
  cursor: pointer;
}
.logo {
  /* det alternative logo */
  width: 40px; /* størrelsen på det alternativelogo */
}
.forside {
  background-image: url(Billeder/hulum.svg); /* hulum er billedet under tekst, logo og knap*/
  background-color: blue; /* en kasse som hulum ligger oven på for at hulum kan have samme størrelse */
  background-repeat: no-repeat; /* gør at billedet ikke gentager sig flere gange */
  background-size: cover; /* gør at hulum bliver samme størrelse som background-color/kassen*/
  background-position: 6%; /* fuldt billede 100% og dette fortæller hvilken del af de 100% der skal vises */
  height: 500px; /* skalere hvor stort billedet skal være */
  display: flex; /* indikere at flex metoden bliver brugt */
  align-items: left; /* indikere at elementerne skal justeres til venstre */
  flex-direction: column; /* indikere at elementerne skal ''listes''*/
  justify-content: center; /* indikere at det skal centeres på background-image */
  padding: 20px; /* indikere hvor meget luft der er fra kant til elementer (logo,tekst og knap) */
}

.hellogo {
  width: 250px;
}

.tekstForside {
  padding-top: 30px;
  padding-bottom: 30px;
}

.knap1 {
  background-color: var(--secondary);
  color: var(--background1);
  font-family: poppins;
  font-weight: bold;
  padding: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
}
ul {
  background-color: #fdfdfa;
  padding-top: 80px;
  font-family: poppins;
  font-size: 3.053rem;
  font-weight: 700;
  list-style-type: none;
  color: #88a998;
  text-align: center;
  gap: 20px;
  display: inherit;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "teksthex"
    "box";
}
.openbox {
  grid-area: box;
  padding: 16px;
  width: 359px;
  justify-self: center;
  margin-bottom: 30px;
}
.teksthex {
  grid-area: teksthex;
  text-align: center;
  background-image: url(Billeder/Blå\ hexagon.svg);
  background-color: var(--background1);
  background-repeat: no-repeat;
  background-position: 50%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background1);
  margin-top: 60px;
}
a {
  color: #88a998;
}

.footer-grid {
  background-color: #114761;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 8px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "facebook insta"
    "copyright copyright";
  justify-items: center;
  align-items: center;
}
.facebook {
  grid-area: facebook;
  width: 40px;
  padding-top: 70px;
  justify-self: right;
}
.insta {
  grid-area: insta;
  width: 40px;
  padding-top: 70px;
  justify-self: left;
}

.copyright {
  grid-area: copyright;
  color: #fdfdfa;
}

.ikoner {
  width: 26px;
  height: auto;
}

/*               */
/*  Om mig start */
/*               */

.ommig {
  width: 340px;
  padding: 20px;
  padding-bottom: 30px;
  justify-self: center;
}
.hvem {
  padding: 30px;
  justify-self: center;
}
.kaldemig {
  justify-self: center;
  text-align: center;
}
.portrat {
  justify-self: center;
  padding-top: 30px;
}

/*              */
/*  om mig slut */
/*              */

/*                   */
/*  Projekter start  */
/*                   */

:root {
  --background1: #fdfdfa;
  --background2: #ebebe3;
  --primary: #88a998;
  --secondary: #114761;
  --accent: #b18b44;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:700|family=Poppins:600|Hind%20Vadodara:400");

body {
  font-family: "Hind Vadodara" sans-serif; /* DET ER HER DET GÅR GALT*/
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 600;
}

html {
  font-size: 50%;
} /* 16px */

h1 {
  font-size: 3.053rem; /* 48.8px */
  font-weight: 700;
  color: var(--accent);
}

h2 {
  font-size: 2.442rem; /* 39.04px */
  color: var(--accent);
}

h3 {
  font-size: 1.954rem; /* 31.2px */
}

h4 {
  font-size: 1.563rem; /* 24.96px */
  font-weight: 100;
}

h5 {
  font-size: 1.25rem; /* 20px */
  font-family: poppins;
  font-weight: bold;
}

small {
  font-size: 0.8rem; /* 12.8px */
}
